{% extends "chordscales/header.html" %}

<script>
    document

</script>


{% block content %}
        <h1>{{scale_name}}</h1>
        <p>{{scale.notes}}</p>

    {% for note in scale.notes %}
        <p><h4>{{note}} Triads:</h4></p>
            {% for key, value in scale.triads.items %}
                    <div class="Triads-List">
                    {% if key == note %}
                        {% for chord in value %}
                                <h5><a href="{% url 'chord_specific' chord.type chord.root %}">{{chord}}</a></h5>  <p></p>
                        {% endfor %}
                    {% endif %}
                    </div>
            {% endfor %}

    {% endfor %}
{% include "chordscales/includes/htmlsnippet.html" %}
{% endblock %}